In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
datae = pd.read_csv('country-wise-average.csv')
datae.head()

,Country,Income Classification,Severe Wasting,Wasting,Overweight,Stunting,Underweight,U5 Population ('000s)
0,AFGHANISTAN,0.0,3.033333,10.350000,5.125000,47.775000,30.375000,4918.561500
1,ALBANIA,2.0,4.075000,7.760000,20.800000,24.160000,7.700000,232.859800
2,ALGERIA,2.0,2.733333,5.942857,12.833333,19.571429,7.342857,3565.213143
3,ANGOLA,1.0,2.400000,6.933333,2.550000,42.633333,23.600000,3980.054000
4,ARGENTINA,2.0,0.200000,2.150000,11.125000,10.025000,2.600000,3613.651750

So now we get into the basic EDA without using any external libraries

# EDA

Separating categories and numerical variables in the dataset

In [17]:
categori = [var for var in datae.columns if datae[var].dtype == 'O']
print('the no of categoricals ',len(categori))

numerical = [var for var in datae.columns if datae[var].dtype != 'O']
print('the no of numericals', len(numerical))

the no of categoricals  1
the no of numericals 7

In [7]:
datae.describe()

,Income Classification,Severe Wasting,Wasting,Overweight,Stunting,Underweight,U5 Population ('000s)
count,152.000000,140.000000,150.000000,149.000000,151.000000,150.000000,152.000000
mean,1.427632,2.168650,6.599257,7.201638,25.814728,13.503047,4042.927052
std,0.967019,1.708939,4.481723,4.649144,14.686807,10.895839,13164.191927
min,0.000000,0.000000,0.000000,0.962500,1.000000,0.100000,1.000000
25%,1.000000,0.900000,3.262500,3.850000,13.485000,4.305000,241.765813
50%,1.000000,1.872500,5.710714,6.300000,24.160000,10.380000,981.233486
75%,2.000000,2.822727,8.740476,9.080000,36.564935,19.496875,3002.433080
max,3.000000,11.400000,23.650000,26.500000,57.600000,46.266667,123014.491000

In [23]:
for col in datae[numerical].columns:
    print(col,'--', datae[col].mean())
    print(col,'--', datae[col].pstdev())

Income Classification -- 1.4276315789473684

AttributeError: 'Series' object has no attribute 'pstdev'

In [19]:
datae[numerical]

,Income Classification,Severe Wasting,Wasting,Overweight,Stunting,Underweight,U5 Population ('000s)
0,0.0,3.033333,10.350000,5.125000,47.775000,30.375000,4918.561500
1,2.0,4.075000,7.760000,20.800000,24.160000,7.700000,232.859800
2,2.0,2.733333,5.942857,12.833333,19.571429,7.342857,3565.213143
3,1.0,2.400000,6.933333,2.550000,42.633333,23.600000,3980.054000
4,2.0,0.200000,2.150000,11.125000,10.025000,2.600000,3613.651750
...,...,...,...,...,...,...,...
147,2.0,NaN,4.333333,5.409524,16.957143,4.242857,2787.800095
148,1.0,2.331250,8.661905,3.317647,34.922727,22.918182,7507.220273
149,0.0,5.300000,15.242857,4.842857,51.900000,37.785714,3269.476000
150,1.0,2.042857,5.542857,7.228571,48.137500,17.885714,2083.494500
151,1.0,1.388889,4.166667,5.788889,30.455556,10.710000,1912.450400